* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

.container-fluid {
  padding: 1% 15%;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100%;
}

header {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-bottom: 2vh;
  margin-top: 5vh;
}
header h1 {
  color: black;
  font-size: 5vh;
  border: 1vh solid red;
  border-radius: 25px;
}

main {
  height: 70vh;
  overflow: hidden;
  margin-top: 0;
}

#timer {
  font-size: 4vh;
}
.btn-square-md {
  display: flex;
  padding-left: 4rem;
  align-items: center;
  text-align: center;
  height: 13rem;
  line-height: 150%;
  font-size: 4em;
  border-radius: 1rem;
}

@media screen and (max-width: 1400px) {
  .btn-square-md {
    display: flex;
    padding-left: 0rem;
    align-items: center;
    text-align: center;
    height: 13rem;
    line-height: 150%;
    font-size: 4em;
    border-radius: 1rem;
  }
  main {
    height: 75vh;
  }
}
/* Replacing warning's hover and active text color because it's different from others */
/* .btn-warning:hover,
.btn-warning:active {
  color: white !important;
} */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}



.my-search-form {
  position: absolute;
  top: 300;
  right: 0;
}

.my-search-input {
  width: 200px;
}

.my-search-button {
  margin-left: 50px;
}
